a[href] {
  outline: none;
  vertical-align: baseline;
  text-decoration: underline var(--theme-secondary);
  color: var(--theme-accent);

  &:hover,
  &:focus {
    color: var(--theme-secondary);
  }
}
