$vw-tablet: 788px;

:root {
  --red: #AF1D05;
  --lightred: #d62e00;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --yellow: #ff7315;
  --white: #f4f4f4;
  --alabaster: #f7f6ee;
  --orchid: #544;
  --shadowed-white: #f9f9f9;

  --container-width: 1280px;
  --container-padding: 0 10px;
}
