$vw-tablet: 788px;

:root {
  --red: #AF1D05;
  --lightred: #d62e00;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --yellow: #ff7315;
  --white: #f4f4f4;
  --alabaster: #f7f6ee;
  --orchid: #544;

  --container-width: 1280px;
  --container-padding: 0 10px;
}
