.header {
  padding: 0.5em var(--gap);
}
.header__start,
.header__end {
  display: inline-flex;
  margin-bottom: calc(var(--outline-width) * 2);
}
.header__start {
  padding-right: 2em;
}
@media (min-width: 768px) {
  .header {
    display: flex;
  }
  .header__end {
    margin-left: auto;
  }
}
