.layout {
  display: grid;
  min-height: 100%;
  margin: 0;
  grid-template-rows: auto 1fr auto;
}
.layout__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--full-width);
}
