.page {
  display: grid;
  /* gap: 0 var(--gap); */
  grid-template: var(--grid-ascii-page);
  grid-template-columns: var(--grid-columns-page);
  grid-template-rows: min-content;
  grid-auto-rows: min-content;

  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.page__header,
.page__summary,
.page__nav,
.page__content > * {
  grid-column: content;
  padding-left: var(--gap);
  padding-right: var(--gap);
}

.page__header {
  grid-area: header;
  margin-bottom: 1rem;
}

.page__header .avatar {
  width: 20px;
  height: 20px;
}

.page .note {
  grid-column: nav;
}

.page :is(img, svg) {
  max-width: 100%;
  height: auto;
}

.page ul {
  margin-top: 0;
}
p + ol,
p + ul {
  margin-top: -1em;
  list-style: inside;
}

.page__footer {
  grid-column: footer;
  align-self: end;
}
