<a class="p-author h-card" href="/" itemprop="author" itemscope itemtype="https://schema.org/Person">
  {% image '/img/avatar.jpg', 'u-photo avatar avatar--circle', 'фото Андрея Гурылева', '', '20,40' %}
  <span itemprop="name">Андрей Гурылев</span>
</a>
