{% macro renderNavListItem(entry) -%}
{%- set hasSubmenu = entry.children.length > 0 -%}
{%- set isActive = entry.url == page.url -%}
{% if entry.condition !== false %}
  <li
    class="
      nav__item
      {% if hasSubmenu %}nav__item--submenu{% endif %}
      {% if isActive %}nav__item--active{% endif %}
    "
  >
    <a
      class="
        {{- entry.classes }}
        nav__link
        {% if isActive %}nav__link--active{% endif %}
      "
      href="{{ entry.url }}"
      {% if isActive -%}aria-current="page"{%- endif %}
    >
    <span class="nav__text">{{ entry.title }}</span>
    <span class="nav__excerpt">{{ entry.excerpt }}</span>
    </a>
    {%- if entry.children.length -%}
      <ul class="nav__list">
        {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
      </ul>
    {%- endif -%}
  </li>
{% endif %}
{%- endmacro %}
{% macro renderNav(nav, before, after) -%}
<nav class="nav">
  <ul class="nav__list">
    {{ before | e }}
{%- for entry in nav %}{{ renderNavListItem(entry) }}{%- endfor -%}
    {{ after | e }}
  </ul>
</nav>
{%- endmacro %}
{% set before %}
<li class="nav__item">
  <a href="#main" class="nav__link screen-reader-only">{{ 'Skip navigation' | i18n }}</a>
</li>
{% endset %}
{% set after %}
{% if config.env == 'development' %}
{% set drafts = {
  url: '/drafts/',
  title: 'Drafts' | i18n
} %}
  {{ renderNavListItem(drafts) }}
{% endif %}
{% endset %}
{{ renderNav(navPages) }}
