{% set navPages = collections[locale] | eleventyNavigation %}
<nav class="nav">
  <a href="#main" class="nav__item screen-reader-only">{{ 'Skip navigation' | i18n }}</a>
{%- for entry in navPages %}
  <a class="{{ entry.classes }} nav__item{% if entry.url == page.url %} nav__item--active{% endif %}" href="{{ entry.url }}" {% if entry.url == page.url %}aria-current="page"{% endif %}>{{ entry.title }}</a>
{%- endfor %}
{% if config.env == 'development' %}
  <a class="nav__item{% if entry.url == page.url %} nav__item--active{% endif %}" href="/drafts/">{{ 'Drafts' | i18n }}</a>
{% endif %}
</nav>
