<p>{% include "author.njk"%} {{ "published" | i18n }} {{ "the article" | i18n }}
{% if date %}
<time class="post-date dt-published" datetime="{{ date | htmlDateString }}" itemprop="datePublished"><a class="u-url" href="{{ page.url }}">{{ date | readableDate }}</a></time>
{% endif %}
<br>{{ "and tagged it with" | i18n }}
{% for tag in tags %}
  <a href="{{ '/tags/' + tag }}" rel="tag" class="p-category tag">#{{ tag }}</a>
{% endfor %}

</p>
<p><a href="{{ page.url | parent }}">{{ "← Back to section" | i18n }} {{category}}</a></p>
{% if previousPost %}{{ "Next post:" | i18n }} <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
{% if nextPost %}<br>{{ "Previous post:" | i18n }} <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}