<header class="page__header">
  <h1 class="page__title p-name" itemprop="name headline">{{ title }}</h1>
  <p class="page__summary p-summary" itemprop="description">{{ description }}</p>
  {% set time = content | readingTime %}
  <p>{{ "Can be read in" | i18n }} {{ time }} {% if locale === 'ru' %}{{ time | getNoun('минуту', 'минуты', 'минут') }}{% else %}{{ time | getNoun('minute', 'minutes', 'minutes') }}{% endif %}</p>
  {% if preview %}
  <meta itemprop="image" content="{{ preview }}">
  {% endif %}
</header>
