<header class="page__header">
  <h1 class="page__title p-name" itemprop="name headline">{{ title }}</h1>
  <p>{% include "author.njk"%} опубликовал статью
  {% if date %}
  <time class="post-date dt-published" datetime="{{ date | htmlDateString }}" itemprop="datePublished"><a class="u-url" href="{{ page.url | url }}">{{ date | readableDate }}</a></time>
  {% endif %}
  {% if date %}
  в категории <a href="{{ page.url | parent }}">{{category}}</a>
  {% endif %}
  и пометил тегами
  {% for tag in tags %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" rel="tag" class="p-category tag">#{{ tag }}</a>
  {% endfor %}

  </p>
  {% set time = content | readingTime %}
  <p>Можно прочитать за {{ time }} {{ time | getNoun('минута', 'минуты', 'минут') }}</p>
  {% if preview %}
  <meta itemprop="image" content="{{ preview }}">
  {% endif %}
</header>
<p class="page__summary p-summary" itemprop="description">{{ description }}</p>
