{% for post in postslist | reverse %}
  <article class="h-entry card" aria-labelledby="{{ post.data.title | urlencode }}">
    <a class="u-url u-uid card__link" href="{{ post.url | url }}">
      <span class="card__body">
        <h3 class="p-name card__title" id="{{ post.data.title | urlencode }}">{{ post.data.title }}</h3>
        <time class="dt-published card__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        <p class="p-summary">{{ post.data.description }}</p>
      </span>
      {% if post.data.preview %}
      <span class="card__preview">
        {% if (post.data.preview | extname) == '.svg' %}
        {{ post.data.preview | inline | safe }}
        {% else %}
        {% image post.data.preview, 'card__image', post.data.title, '(min-width: 768px) 400px, 100vw', '720,400' %}
        {% endif %}
      </span>
      {% endif %}
    </a>
  </article>
{% endfor %}
