<form action="https://duckduckgo.com/" method="get" class="form form--inline">
  <input hidden name="sites" value="gurylev.com">
  <input id="search-term" type="text" name="q" class="form__control input" autocomplete="off" aria-label="{{ 'Search the current site' | i18n }}">
  <button type="submit" class="form__control button" aria-label="{{'Search' | i18n }}">🔎</button>
</form>
