<table>
  <thead>
    <th>#</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Rated</th>
  </thead>
  <tbody>
  {%- for item in watchedList|reverse -%}
    <tr>
      <td>{{ loop.index }}</td>
      <td><a href="/lists/{{ item["Type"] }}/{{ item["TMDb ID"] }}">{{ item["Name"] }}</a></td>
      <td>{{ item["Your Rating"] }}</td>
      <td>{{ item["Date Rated"] | readableDate }}</td>
    </tr>
  {%- endfor -%}
  </tbody>
</table>
