---
title: Animation
layout: home
permalink: /lists/animation/
header: Animation
eleventyNavigation:
  key: Animation
  excerpt: Lists - watched and want to watch
  order: 30
  parent: Lists
---

<div class="h-feed grid grid--2">
  <div class="grid__line">
    <h1>Watched animation</h1>
    <p></p>
    <p><a href="/tags/animation/feed.xml">Subsribe to RSS with movies what I watched</a></p>
  </div>  
</div>

{%- set watchedList = anime | sortByNumber('score') -%}


<style>
  table { width: 100%; border-collapse: separate; }
  thead { position: sticky; top: 0; z-index: 1; background-color: var(--theme-background-shadowed); }
  tfoot { position: sticky; bottom: 0; z-index: 1; background-color: var(--theme-background-shadowed); }
  thead th { border-bottom: 1px solid var(--theme-secondary); }
  tfoot td { border-top: 1px solid var(--theme-secondary); }
  th, td { padding: 4px; vertical-align: middle; }
  td img { vertical-align: middle; }
  tr:nth-child(even) { background-color: var(--theme-background-shadowed); }
  .rating--10 {
    background-color: var(--theme-green);
  }
  .cell--property {
    text-align: center;
  }
</style>
<table>
  <thead>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Rated</th>
    <th scope="col">Links</th>
  </thead>
  <tbody>
  {%- for item in watchedList|reverse -%}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td class="cell cell--value">
        <a href="/lists/{{ item["target_id"] }}">{{ item["target_title"] }}</a>
      </td>
      <td class="cell cell--property rating rating--{{ item["Your Rating"] | int }}">{{ item["score"] | int }}</td>
      <td class="cell cell--property"><a href="https://www.themoviedb.org/{{ item["target_id"] }}" target="_blank" rel="noopener nofollow">Shikimori</a></td>
    </tr>
  {%- endfor -%}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">Total: {{ watchedList | length }}</td>
      <td class="cell cell--value"></td>
      <td class="cell cell--value"></td>
      <td class="cell cell--value"></td>
    </tr>
  </tfoot>
</table>


<p><a href="/lists/">← back to lists</a></p>
