---
title: Блог
layout: home
eleventyNavigation:
  key: Блог
  order: 20
---

<div class="h-feed grid grid--3">
  <div class="grid__line">
    <p>Формулирую мысли</p>
    <p><a href="/tags/blog/">Все посты</a> | <a href="/tags/blog/feed.xml">Подписаться на RSS блога</a></p>
  </div>
  {% set postslist = collections.blog %}
  {% include "postslist.njk" %}
</div>
