---
title: Блог
layout: home
eleventyNavigation:
  key: Блог
  order: 20
---

<p>Пишу посты</p>
<p><a href="/tags/blog/feed.xml">Подписаться на RSS блога</a></p>

<div class="h-feed grid grid--3">
  <div class="grid__line">
    <h2>Из чатов</h2>
    <p>Порой в диалоге мне хочется выразить свою мысль подробно, но спустя пару предложений оказывается, что текста так много, что пора проставлять заголовки 😅 Конечно, затем сообщения подвергаются моей редактуре, я их переписываю, но суть остаётся.</p>
    <p><a href="/tags/chats/">Все мысли из чатов</a> | <a href="/tags/results/chats.xml">Подписаться на RSS с мыслями из чатов</a></p>
  </div>
  {% set postslist = collections.chats %}
  {% include "posts-grid.njk" %}

  <div class="grid__line">
    <h2>Подвожу итоги</h2>
    <p>С 2015 года планирую года. В этом разделе - их итоги.</p>
    <p><a href="/tags/results/">Все итоги</a> | <a href="/tags/results/feed.xml">Подписаться на RSS с итогами</a></p>
  </div>
  {% set postslist = collections.results %}
  {% include "posts-grid.njk" %}

  <div class="grid__line">
    <h2>Делюсь мотивацией</h2>
    <p>Чтобы годами поддерживать в тонусе своё планирование, я работаю с собственной мотивацией.</p>
    <p><a href="/tags/motivation/">Все посты о мотивации</a> | <a href="/tags/motivation/feed.xml">Подписаться на RSS с постами о мотивации</a></p>
  </div>
  {% set postslist = collections.motivation %}
  {% include "posts-grid.njk" %}

</div>
