---
title: Snippets
layout: home
permalink: /code/snippets/
header: Snippets
eleventyNavigation:
  key: Snippets
  excerpt: Solutions, snippets, hacks
  parent: Code
---

<div class="h-feed grid grid--2">
  <div class="grid__line">
    <h1>Share the code</h1>
    <p>Solutions, snippets, hacks, call it as you want 🤷</p>
    <p><a href="/tags/snippets/feed.xml">Subsribe to RSS with snippets</a></p>
  </div>
  {% set postslist = collections.snippets | filterPostsByTags(locale) | published %}
  {% include "posts-grid.njk" %}
</div>
