---
title: Speeches
layout: home
permalink: /speeches/
eleventyNavigation:
  key: Speeches
  order: 40
  parent: Main
---

<p>I define by this term all the cases when I got up and told something to the public.</p>
<p><a href="/tags/speeches/feed.xml">Subscribe to RSS with all the speeches</a></p>

<div class="h-feed grid grid--3">
  <div class="grid__line">
    <h2>Lectures</h2>
    <p>I go on stage, click on the clicker, explain the slides</p>
  </div>
  {% set postslist = collections.lectures | filterPostsByTags(locale) | head(-3) %}
  {% include "posts-grid.njk" %}
  <div class="grid__line">
    <a href="/speeches/lectures/">All lectures</a>
  </div>

  <div class="grid__line">
    <h2>Sound in podcasts</h2>
    <p>I sit down in front of the microphone with headphones to discuss something</p>
  </div>
  {% set postslist = collections.podcasts | filterPostsByTags(locale) | head(-3) %}
  {% include "posts-grid.njk" %}
  <div class="grid__line">
    <a href="/speeches/podcasts/">All podcasts</a>
  </div>

  <div class="grid__line">
    <h2>Giving an interview</h2>
    <p>People ask questions - I answer</p>
  </div>
  {% set postslist = collections.interviews | filterPostsByTags(locale) | head(-3) %}
  {% include "posts-grid.njk" %}
  <div class="grid__line">
    <a href="/speeches/interviews/">All interviews</a>
  </div>

  <div class="grid__line">
    <h2>Teach</h2>
    <p>I'm making a smart look, starting to tell, just try to stop</p>
  </div>
  {% set postslist = collections.courses | filterPostsByTags(locale) | head(-3) %}
  {% include "posts-grid.njk" %}
  <div class="grid__line">
    <a href="/speeches/courses/">All courses</a>
  </div>
</div>
