---
layout: base
template: article
scripts:
  - /js/article.mjs
criticalStyles:
  - /css/templates/article.css
asyncStyles:
  - /css/plugins/markdown.css
  - /css/plugins/avatar.css
---
<article class="h-entry page page--template-{{ template }}" id="main" itemscope itemtype="http://schema.org/Article">
  {% include "post-header.njk" %}
  {% set table_of_contents = content | toc %}
  {% if table_of_contents %}
  <aside class="page__nav">
    <details class="toc" open>
      <a href="#content" class="screen-reader-only">Пропустить оглавление</a>
      <summary><h2>Оглавление статьи</h2></summary>
      {{ table_of_contents | safe }}
      <a href="#main">↑ К началу статьи</a>
    </details>
  </aside>
  {% endif %}

  <div class="e-content page__content" id="content" itemprop="articleBody">
  {{ content | safe }}
  </div>
{% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{% set nextPost = collections.blog | getNextCollectionItem(page) %}

  <footer class="page__footer">
    <p><a href="{{ page.url | parent }}">← Вернуться в {{category}}</a></p>
    {% if previousPost %}Следующий пост: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
    {% if nextPost %}<br>Предыдущий пост: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
  </footer>
  <div class="progress-bar"></div>
</article>
