---
asyncStyles:
  - /css/plugins/links.css
---
<!doctype html>
<html lang="ru" class="document" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <style>{% include "../assets/css/styles.css.njk" %}</style>
    {%- for style in criticalStyles %}
    <style>{% include "../assets/" + style + ".njk" %}</style>
    {%- endfor %}
    <link rel="stylesheet" href="{{ '/css/themes/dark.css' | url }}" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="{{ '/css/themes/light.css' | url }}" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    {%- if renderData.feed %}
    <link rel="alternate" href="{{ renderData.feed | url }}" type="application/atom+xml" title="{{ renderData.title or title or metadata.title }}">
    {%- endif %}
    {%- if draft == true %}
    <meta name="robots" content="noindex, nofollow" />
    {%- endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#333333">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#333333">
    <meta name="theme-color" content="#f7f6ee">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    {% if config.env === 'production '%}
    <link rel="manifest" href="/manifest.json">
    {% endif %}
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ metadata.title }}">
    <meta name="apple-mobile-web-app-title" content="{{ metadata.title }}">
    <meta name="msapplication-starturl" content="{{ metadata.url | url }}">

	  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="webmention" href="https://webmention.io/gurylev.com/webmention" />
    <link rel="pingback" href="https://webmention.io/gurylev.com/xmlrpc" />
    <link href="mailto:andrew@gurylev.com" rel="me">
    <link href="/keys/pgp_keys.asc" rel="pgpkey authn">
  </head>
  <body class="layout">
    {%- for style in asyncStyles %}
    <link rel="stylesheet" href="{{ style | url }}" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="{{ style | url }}"></noscript>
    {%- endfor %}
    <header class="layout__header header">
      <div class="header__start">
        {% include "nav.njk" %}
      </div>
      <div class="header__end">
        {% include "search.njk" %}
      </div>
    </header>

    {{ content | safe }}

    <footer class="layout__footer footer">
      <div class="footer__copyright">
        <p>Сайт Андрея Гурылева</p>
      </div>
      <div class="footer__help">
        <p><a class="footer__help" href="https://github.com/fogrew/gurylev.com/blob/master/{{ page.inputPath }}">Редактировать эту страницу</a>.</p>
        <p>Последний релиз сайта: {{ config.release }}</p>
      </div>
    </footer>

    {%- for script in scripts %}
    <script async defer type="module" src="{{ script | url }}"></script>
    {%- endfor %}
    {% if config.env === 'production '%}
    <script>
      if ("serviceWorker" in navigator)
        navigator.serviceWorker.register("/service-worker.js");
    </script>
    {% endif %}
  </body>
</html>
