---
layout: base
template: wide
styles:
  - /css/templates/wide.css
---
<main class="page page--template-{{ template }}" id="main">

{% if not header %}
<header class="page__header">
  <h1 class="p-name">{{ header or title }}</h1>
</header>
{% endif %}

<div class="page__content" id="content">
{{ content | safe }}
</div>

</main>
