---
layout: base
template: article
scripts:
  - /js/media.mjs
criticalStyles:
  - /css/templates/article.css
asyncStyles:
  - /css/plugins/markdown.css
  - /css/plugins/avatar.css
---
<article class="h-entry page page--template-{{ template }}" id="main">
  <header class="page__header">
    <h1 class="page__title p-name">{{ title }}</h1>
    <p><a class="p-author h-card" href="/">
    {% image '/img/avatar.jpg', 'u-photo avatar avatar--circle', 'фото Андрея Гурылева', '', '20,40' %} Андрей Гурылев</a> опубликовал
    {% if date %}
    <time class="post-date dt-published" datetime="{{ date | htmlDateString }}"><a class="u-url" href="{{ page.url | url }}">{{ date | readableDate }}</a></time>
    {% endif %}
    в
    {% for tag in tags %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" rel="tag" class="p-category tag">#{{ tag }}</a>
    {% endfor %}

    </p>
  </header>

  <p class="page__summary p-summary">{{ description }}</p>

  {% if subtitles %}
  {% set table_of_contents = subtitles | vtt %}
  <aside class="page__nav">
    <details class="toc" open>
      <a href="#content" class="screen-reader-only">Пропустить оглавление</a>
      <summary><h2>Оглавление</h2></summary>
      <nav class="toc__nav">
        <ol>
        {% for cue in table_of_contents %}
          <li>
            <a class="seekable" href="#t={{ cue.start }}">{{ cue.text }}</a>
          </li>
        {% endfor %}
        </ol>
      </nav>
    </details>
  </aside>
  {% endif %}

  <div class="e-content page__content" id="content">
  {{ content | safe }}
  </div>

  <footer class="page__footer">
    {# <p><a href="{{ '/blog/' | url }}">← Вернуться</a></p> #}
  </footer>
</article>
