---
layout: base
template: article
scripts:
  - /js/media.mjs
criticalStyles:
  - /css/templates/article.css
asyncStyles:
  - /css/plugins/markdown.css
  - /css/plugins/avatar.css
  - /css/plugins/seekable.css
---
<article class="h-entry page page--template-{{ template }}" id="main" itemscope itemtype="http://schema.org/Article">
  {% include "post-header.njk" %}
  {% if subtitles %}
  {% set table_of_contents = subtitles | vtt %}
  <aside class="page__nav">
    <details class="toc" open>
      <a href="#content" class="screen-reader-only">{{ "Skip the contents" | i18n }}</a>
      <summary><h2>{{ "Contents" | i18n }}</h2></summary>
      <nav class="toc__nav">
        <ol>
        {% for cue in table_of_contents %}
          <li>
            <a class="seekable" href="#t={{ cue.start }}">{{ cue.text }}</a>
          </li>
        {% endfor %}
        </ol>
      </nav>
    </details>
  </aside>
  {% endif %}

  <div class="e-content page__content" id="content">
  {{ content | safe }}
  </div>
{% set previousPost = collections[category] | filterPostsByTags(locale) | getPreviousCollectionItem(page) %}
{% set nextPost = collections[category] | filterPostsByTags(locale) | getNextCollectionItem(page) %}

  <footer class="page__footer">
    <p><a href="{{ page.url | parent }}">{{ "← Back to section" | i18n }} {{category}}</a></p>
    {% if previousPost %}{{ "Next post:" | i18n }} <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
    {% if nextPost %}<br>{{ "Previous post:" | i18n }} <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
  </footer>
</article>
