---
layout: base
template: article
scripts:
  - /js/media.mjs
criticalStyles:
  - /css/templates/article.css
asyncStyles:
  - /css/plugins/markdown.css
  - /css/plugins/avatar.css
  - /css/plugins/seekable.css
---
<article class="h-entry page page--template-{{ template }}" id="main"itemscope itemtype="http://schema.org/Article">
  {% include "post-header.njk" %}
  {% if subtitles %}
  {% set table_of_contents = subtitles | vtt %}
  <aside class="page__nav">
    <details class="toc" open>
      <a href="#content" class="screen-reader-only">Пропустить оглавление</a>
      <summary><h2>Оглавление</h2></summary>
      <nav class="toc__nav">
        <ol>
        {% for cue in table_of_contents %}
          <li>
            <a class="seekable" href="#t={{ cue.start }}">{{ cue.text }}</a>
          </li>
        {% endfor %}
        </ol>
      </nav>
    </details>
  </aside>
  {% endif %}

  <div class="e-content page__content" id="content">
  {{ content | safe }}
  </div>

  <footer class="page__footer">
    <p><a href="{{ page.url | parent }}">← Вернуться</a></p>
  </footer>
</article>
