---
layout: base
template: post
---
<main class="h-entry" id="main">
  <p class="p-summary" style="display:none">{{ description }}</p>
  <article class="e-content page page--template-{{ template }}">
    <header class="page__title">
      <h1 class="p-name">{{ title }}</h1>
      <p>Опубликовано <a class="p-author h-card" href="/">мной</a> <time class="post-date dt-published" datetime="{{ date }}">{{ date | readableDate }}</time></p>
    </header>
    <aside class="page__nav">
      <details class="toc" open>
        <a href="#main" class="to-top">↑ Наверх</a>
        <summary><h2>Содержание</h2></summary>
        {{ content | toc | safe }}
      </details>
    </aside>
    {{ content | safe }}

    <footer class="page__footer">
      {# <p><a href="{{ '/blog/' | url }}">← Вернуться</a></p> #}
    </footer>
  </article>
</main>
