.nav {
  display: inline-flex;
  margin: 0 -1rem;
  padding: 0;
  list-style: none;
}
.nav__item {
  margin: 0 2px;
}
.nav__link {
  display: block;
  padding: 1rem;
  border-width: 0 1px;
  border-style: solid;
  border-color: transparent;
  text-decoration: none;
}
