.nav {
  display: inline-flex;
  margin: 0 -1rem;
  padding: 0;
  list-style: none;
}
.nav__item {
  // hack to prevent double border
  margin-left: -1px;
}
.nav__link {
  display: block;
  padding: 1rem;
  border-width: 0 1px;
  border-style: solid;
  border-color: transparent;
  text-decoration: none;

  &--active {
    background-color: var(--theme-background-shadowed);
  }
  &:hover:not(&--active) {
    background-color: var(--theme-background-shadowed);
  }
}
