---
title: Feed
layout: home
permalink: /feed/
eleventyNavigation:
  key: Feed
  order: 20
  parent: Main
---

<p>Wrote about productivity, motivation, and summing up the results.</p>
<p><a href="/tags/blog/feed.xml">Subscribe to RSS feed with my blog</a></p>

<div class="h-feed grid">
  <div class="grid__line">
    <h2>Blog</h2>
    <p>Sometimes in a dialogue I want to express my thought in detail, but after a couple of sentences it turns out that there is so much text that it's time for headings 😅 Of course, then the posts are subject to my editing, I rewrite them, but the point remains.</p>
    <p><a href="/tags/chats/">All thought from chats</a> | <a href="/tags/results/chats.xml">Subscribe to RSS with thoughts from chats</a></p>
  </div>
  {% set postslist = collections.posts %}
  {% include "posts-grid.njk" %}
</div>
