:root {
  --font-size-base: 16px;
  --line-height-base: 1.5rem;

  --gap: 1rem;

  --outline-width: 2px;

  --container-width: 34rem;
  --col-width: 16rem;

  --full-width: calc(var(--col-width) * 2 + var(--container-width));
  --post-width: calc(var(--col-width) + var(--container-width));
  --sides: calc(var(--col-width) * 4 + var(--container-width) + 2rem);

  --border-radius: 4px;

  --z-index-menu: 1000;
}

@media (min-width: 768px) {
  :root {
    --font-size-base: 18px;
    --gap: 1.25rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-base: 20px;
    --gap: 1.5rem;
  }
}
