---
title: Event manager
layout: home
permalink: /leader/event-manager/
header: Event manager
eleventyNavigation:
  key: Event manager
  excerpt: Meetups, conferences, festivals
  order: 30
  parent: Leader
---

<div class="grid grid--2">
  <div class="grid__line">
    <h2>Event manager</h2>
    <p>I'm organized many events in the past</p>
  </div>
  <div>
    <h3>Organized PiterJS</h3>
    <p>From April 2017 to May 2020 (3 years and 2 months), I participated in the creation of monthly meetups around JavaScript. In 2019, we even made a conference.</p>
  </div>
  <div>
    <h3>Volunteered at pitercss</h3>
    <p>From January 2017 to September 2018 (1 year and 9 months) I helped with the little things in organizing the monthly pitercss_meetup. Organized one of them completely. Shared tips for starting pitercss_class and pitera11y.</p>
  </div>
  <div>
    <h3>Taught at the&nbsp;Epic&nbsp;Skills</h3>
    <p>From November 2016 to November 2017 (1 year) I compiled a course program and taught frontend in Epic Skills to web beginners who are more comfortable with the offline format.</p>
  </div>
  <div>
    <h3>Organized NodeSchool SPB</h3>
    <p>From July 2016 to September 2018 (2 years and 3 months) organized monthly offline sessions to teach JavaScript beginners and Node.js</p>
  </div>
<div>