@font-face {
  font-family: Lora;
  src: url('/fonts/Lora.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 200 900;
  src: url('/fonts/SourceSansPro.woff2') format('woff2');
  font-display: swap;
}
