---
title: Tavern ads generator
description: Generator of ads for notice board for Dungeon masters
date: 2022-04-10
tags:
  - dnd
preview: '/img/posts/paper6.png'
permalink: /geek/dnd/tavern/ads/
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Tavern ads generator</title>
  <script src="https://cdn.jsdelivr.net/npm/smooth-zoom@latest/dist/zoom.min.js"></script>
</head>
<body>
<style>
  body {
    padding: 0;
    margin: 0;
    background-color: #645346;
    background-image: url(/img/posts/Qhe1Rn.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    height: 100%;
    max-height: 100%;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
  }
  a:any-link {
    color: #edd1a9;
  }
  .notice-board {
    max-width: 518px;
    max-height: 400px;
    margin: 30px auto;
    background-color: #3c3531;
    background-image: url(/img/posts/notice-board.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    padding: 4vw;
    gap: 2vw;
  }
  .notice-board img {
    max-width: 100%;
    height: auto;
  }
  .notice-board picture:nth-child(2n) {
    transform: rotate(-3deg);
  }
  .notice-board picture:nth-child(2n+1) {
    transform: rotate(3deg);
  }
  picture {
    height: fit-content;
    filter: drop-shadow(0 3px 4px black);
    transition: all 0.4s;
    background: radial-gradient(ellipse farthest-corner, rgba(237, 209, 169, 1) 0%, rgba(237, 209, 169, 0) 50%);
  }
  picture:hover {
    filter: drop-shadow(0 7px 4px black);
  }
  img:after {
    content: '';
    box-shadow: inset 0 0 100px #edd1a9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
</style>
<div class="notice-board">
{% image '/img/posts/paper1.png', 'warning', '', '', '300, 1027' %}
{% image '/img/posts/paper2.png', 'warning', '', '', '300, 658' %}
{% image '/img/posts/paper3.png', 'warning', '', '', '300, 1205' %}
{% image '/img/posts/paper4.png', 'warning', '', '', '300, 905' %}
{% image '/img/posts/paper5.png', 'warning', '', '', '300, 739' %}
{% image '/img/posts/paper6.png', 'warning', '', '', '300, 918' %}
{% image '/img/posts/paper7.png', 'warning', '', '', '300, 593' %}
{% image '/img/posts/paper8.png', 'warning', '', '', '300, 452' %}
</div>
<footer>
  <div>
    <a href="/">{{ "Andrey Gurylev's website" | i18n }}</a>
  </div>
  <div>Tavern ads generator (alpha version)</div>
  <div>
    <a class="nav__item" href="https://github.com/fogrew/gurylev.com/blob/master/{{ page.inputPath }}">{{ "Edit this page on Github" | i18n }}</a>
  </div>
  </footer>
<script>Zoom(".warning")</script>
</body>
</html>
