---
title: Просмотренные фильмы
layout: home
---
<p><a href="/lists/">← вернуться к спискам</a></p>
{%- set watchedByType = watched | groupby("Type") -%}
{%- set watchedList = watchedByType.movie -%}
{% include "watched.njk" %}
