.button {
  padding-left: .5em;
  padding-right: .5em;
  border: 0;
  font-size: inherit;
  vertical-align: bottom;
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-color: var(--theme-border);
}
