.button {
  display: inline-block;
  padding: .5em 1em;
  border: 0;
  font-size: inherit;
  vertical-align: bottom;
  background-color: var(--theme-background-shadowed);
  /* outline-width: var(--outline-width);
  outline-style: solid;
  outline-color: var(--theme-border); */
  border-radius: var(--border-radius);
}
