.input {
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  border: 0;
  outline: 2px solid var(--theme-border);
  padding-left: .5em;
  padding-right: .5em;
}
[contenteditable] {
	outline: var(--outline-width) solid var(--theme-text);
}
