.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}
.screen-reader-only:focus {
  position: static;
  width: auto;
  height: auto;
  clip: auto;
  overflow: visible;
}
