---
title: Watched series
layout: home
permalink: /lists/tv/
eleventyNavigation:
  key: Movies
  excerpt: Watched by me
  order: 0
  parent: Geek lists
---
<p><a href="/lists/">← back to lists</a></p>
{%- set watchedByType = watched | groupby("Type") -%}
{%- set watchedList = watchedByType.tv -%}
{% include "watched.njk" %}
