---
title: Who is Andrey Gurylev
layout: home
header: Who is Andrey Gurylev
permalink: /about/index.html
asyncStyles:
  - /css/plugins/avatar.css
---

<div class="h-card">
  <span style="float: right">
    <a href="/" class="u-url u-uid" rel="me">{% image '/img/avatar.jpg', 'u-photo avatar', 'Andrey Gurylev photo', '', '120,240', '120' %}</a>
  </span>
  <h1 class="page__title p-name">{{ header }}</h1>
  <p class="p-note">I'm {{ config.age }} years old. I live and work in the web. Usually from St. Petersburg, Russia. On the Internet I will answer the appeal fogrew.</p>
</div>
<div class="grid grid--2">
  <div class="grid__line">
    <h2>About me</h2>
  </div>
  <div>
    <h3 class="p-role role">Web developer with&nbsp;aging</h3>
    <p>Since 2007, I have been making up, styling and scripting websites. I've seen a lot and know how to choose the right tools for solving business problems.</p>
  </div>
  <div>
    <h3 class="p-role role">Team lead with&nbsp;beard</h3>
    <p>Since 2018, I have become a scrum master in <a href="https://www.wrike.com/" class="p-org org">Wrike</a>. Since 2019 - team leader. The team and I identified ourselves <span class="p-organization-unit">😼 Mew team</span> and we are working on SEO and performance.</p>
  </div>
  <div>
    <h3 class="p-role role">Control freak with ambitions</h3>
    <p>Since 2015, I have been keeping track of time and tasks, setting myself goals for the month, quarter and year. I try to formulate long-term ones by OKR, and short-term ones by SMART.</p>
  </div>
  <div>
    <h3 class="p-role role">Geek with a joystick</h3>
    <p>I restore energy by playing consoles, PC, board games, tabletop role-playing games, pokemon go, reading comics, watching movies, TV series and anime. I've been trying to recover for as long as I can remember.</p>
  </div>
  <div class="grid__line">
    <h2>May also be known</h2>
    <p>for activities in which I have stopped taking part.</p>
  </div>
  <div>
    <h3>Organized PiterJS</h3>
    <p>From April 2017 to May 2020 (3 years and 2 months), I participated in the creation of monthly meetups around JavaScript. In 2019, we even made a conference.</p>
  </div>
  <div>
    <h3>Volunteered at pitercss</h3>
    <p>From January 2017 to September 2018 (1 year and 9 months) I helped with the little things in organizing the monthly pitercss_meetup. Organized one of them completely. Shared tips for starting pitercss_class and pitera11y.</p>
  </div>
  <div>
    <h3>Taught at the &nbsp;Epic&nbsp;Skills</h3>
    <p>From November 2016 to November 2017 (1 year) I compiled a course program and taught frontend in Epic Skills to web beginners who are more comfortable with the offline format.</p>
  </div>
  <div>
    <h3>Organized NodeSchool SPB</h3>
    <p>From July 2016 to September 2018 (2 years and 3 months) organized monthly offline sessions to teach JavaScript beginners and Node.js</p>
  </div>
</div>
