---
title: Who is Andrey Gurylev
eleventyNavigation:
  key: About me
  order: 10
  excerpt: Web developer, leader, and geek
  parent: Andrey Gurylev
layout: home
header: Who is Andrey Gurylev
permalink: /about/index.html
asyncStyles:
  - /css/plugins/avatar.css
---

