---
title: Drafts
permalink: /drafts/index.html
layout: home
eleventyNavigation:
  key: Drafts
  order: 50
  condition: config.env == 'development'
---
<p>I will publish them on this site when I finish writing.</p>
<div class="h-feed grid grid--3">
  {% set hasDraftLinks = true %}
  {% set postslist = collections.en | unpublished %}
  {% include "posts-grid.njk" %}
</div>
