---
title: Andrey Gurylev
layout: home
permalink: /
eleventyNavigation:
  key: Andrey Gurylev
  order: 10
header: Hi, I'm Andrey Gurylev 👋🏻
asyncStyles:
  - /css/plugins/avatar.css
---
<span style="float: right">
    <a href="/" class="u-url u-uid" rel="me">{% image '/img/avatar.jpg', 'u-photo avatar', 'Andrey Gurylev photo', '', '120,240', '120' %}</a>
  </span>
<h1 class="page__header page__title p-name">{{ header }}</h1>
<p class="p-note page__summary">Web developer, leader, and geek. <a href="/about/">About me</a></p>

<div class="h-feed grid">
  <div class="grid__line">
    <h2>All feeds</h2>
    <p>Here is all content that I produce.</p>
  </div>
  {% set postslist = [collections.chats, collections.results, collections.motivation, collections.projects, collections.snippets, collections.lectures, collections.podcasts, collections.interviews, collections.courses] | merge | sortByDate | filterPostsByTags(locale) | published %}
  {% include "posts-grid.njk" %}
</div>