---
title: Andrey Gurylev
layout: home
permalink: /
eleventyNavigation:
  key: Andrey Gurylev
  order: 10
header: Hi, I'm Andrey Gurylev 👋🏻
asyncStyles:
  - /css/plugins/avatar.css
---
<span style="float: right">
    <a href="/" class="u-url u-uid" rel="me">{% image '/img/avatar.jpg', 'u-photo avatar', 'Andrey Gurylev photo', '', '120,240', '120' %}</a>
  </span>
<h1 class="page__header page__title p-name">{{ header }}</h1>
<p class="p-note page__summary">Web developer, team lead, control-freak, and gamer. <a href="/about/">About me</a></p>
<div class="grid grid--3">
  <div class="h-feed">
    <h3>Last articles</h3>
    {% set postslist = [collections.chats, collections.results, collections.motivation] | merge | sortByDate | published | filterPostsByTags(locale) | head(-4) %}
    {% include "posts-list.njk" %}
    <a href="/blog/">See more blog articles</a>
  </div>
  <div class="h-feed">
    <h3>Last code</h3>
    {% set postslist = [collections.projects, collections.snippets] | merge | sortByDate | published | filterPostsByTags(locale) | head(-4) %}
    {% include "posts-list.njk" %}
    <a href="/code/">See more code</a>
  </div>
  <div class="h-feed">
    <h3>Last talks</h3>
    {% set postslist = [collections.lectures, collections.podcasts, collections.interviews, collections.courses] | merge | published | filterPostsByTags(locale) | sortByDate | head(-4) %}
    {% include "posts-list.njk" %}
    <a href="/speeches/">See more talks</a>
  </div>
</div>
