.card {
  container: card / inline-size;
  display: grid;
}
.card__body {
  padding: 0 1rem;
}
.card__title {
  margin-bottom: 0.25rem;
}
.card__date {
  font-size: 0.75rem;
  word-spacing: -0.5px;
}
.card__link {
  position: relative;
  display: grid;
  flex-direction: column;
  text-decoration: none;
  outline-width: var(--outline-width);
  outline-style: solid;
  outline-color: var(--theme-text);

  @container (min-width: 501px) {
    &:has(.card__preview) {
      grid-template-columns: 40cqw auto;
    }
  }
}
.card__preview {
  order: -1;
  display: grid;
  place-items: center;
}
.card__preview picture {
  display: grid;
}
.card__preview :is(img, svg) {
  aspect-ratio: 2/1;
  margin: auto;
  text-align: center; /* to align alt in broken image url case */
  object-fit: contain;

  @container (max-width: 500px) {
    object-position: top;
    object-fit: cover;
  }
}