.card {
  display: grid;
}
.card__body {
  padding: 0 1rem;
}
.card__title {
  margin-bottom: 0.25rem;
}
.card__tags ,
.card__date {
  font-size: 0.75rem;
  word-spacing: -0.5px;
}
.card__link {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: var(--theme-background-shadowed);
  border-radius: var(--border-radius);
}
.card :is(picture, svg) {
  order: -1;
}
.card :is(picture, img, svg) {
  display: flex;
  object-fit: contain;
  object-position: top;
  text-align: center;
  aspect-ratio: 2 / 1;
}