.nav {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--gap) * -0.5);
  list-style: none;
}
.nav__item {
  display: inline-block;
  white-space: nowrap;
  padding: .5rem calc(var(--gap) * 0.5);
}

.nav__item--active {
  outline-width: var(--outline-width);
  outline-style: dashed;
  outline-color: var(--theme-accent);
}
