.nav {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--gap) * -0.5);
  list-style: none;
}
.nav__link {
  display: inline-block;
  white-space: nowrap;
  padding: .5rem calc(var(--gap) * 0.5);
}

.nav__link--active {
  outline: 2px dashed var(--theme-accent);
}
