---
title: Блог
layout: home
eleventyNavigation:
  key: Блог
  order: 20
---

<p>Формулирую мысли</p>
<div class="h-feed grid grid--3">
  {% set postslist = collections.blog %}
  {% include "postslist.njk" %}
</div>
