---
title: Черновики
layout: home
permalink: /drafts/
eleventyExcludeFromCollections: true
---
<p>Опубликую их на этом сайте, когда допишу</p>
<div class="h-feed grid grid--3">
  {% set hasDraftLinks = true %}
  {% set postslist = collections.allContent | unpublished %}
  {% include "postslist.njk" %}
</div>
