---
title: Андрей Гурылёв
layout: home
eleventyNavigation:
  key: Андрей Гурылёв
  order: 10
header: Андрей Гурылёв
asyncStyles:
  - /css/plugins/avatar.css
---

<div class="h-card">
  <span style="float: right">
    <a href="/" class="u-url u-uid" rel="me">{% image '/img/avatar.jpg', 'u-photo avatar', 'фото Андрея Гурылева', '', '120,240', '120' %}</a>
  </span>
  <h1 class="page__title p-name">{{ header }}</h1>
  <p class="p-note">Мне {{ config.age }} лет. Живу и работаю в вебе. Обычно делаю это из Петербурга. Отзываюсь в вебе на fogrew (читается как Фог Рю).</p>
</div>
<div class="grid grid--2">
  <div class="grid__line">
    <h2>Обо мне</h2>
  </div>
  <div>
    <h3 class="p-role role">Веб-разработчик с&nbsp;выдержкой</h3>
    <p>С 2007 года верстаю, стилизую и скриптую сайты. Видал всякого и умею выбирать подходящие инструменты для решения бизнес-задач.</p>
  </div>
  <div>
    <h3 class="p-role role">Тимлид с&nbsp;бородой</h3>
    <p>С 2018 я стал скрам-мастером в <a href="https://www.wrike.com/" class="p-org org">Wrike</a>. С 2019 - тимлидом. Мы с командой назвались <span class="p-organization-unit">😼 Mew team</span> работаем над SEO и performance.</p>
  </div>
  <div>
    <h3 class="p-role role">Контрол-фрик с амбициями</h3>
    <p>С 2015 веду учёт времени и задач, ставлю себе цели на месяц, квартал и год. Стараюсь формулировать долгосрочные по OKR, а краткосрочные по SMART.</p>
  </div>
  <div>
    <h3 class="p-role role">Геймер с джойстиком</h3>
    <p>Восстанавливаю энергию, играя в&nbsp;приставки, настолки, НРИ, pokemon&nbsp;go, читая комиксы, смотря фильмы, сериалы и аниме. Стараюсь восстанавливаться сколько себя помню.</p>
  </div>
  <div class="grid__line">
    <h2>Могу быть также известен</h2>
    <p>за активности, в которых перестал принимать участие.</p>
  </div>
  <div>
    <h3>Организовывал PiterJS</h3>
    <p>С апреля 2017 до мая 2020 (3 года и 2 месяца) принимал участие в создании ежемесячных митапов вокруг JavaScript. В&nbsp;2019 мы даже сделали конференцию.</p>
  </div>
  <div>
    <h3>Волонтёрил в pitercss</h3>
    <p>С января 2017 до сентября 2018 (1 год и 9 месяцев) помогал по мелочам в организации ежемесячных митапов pitercss_meetup. Организовал один из них полностью. Делился советами для старта pitercss_class и pitera11y.</p>
  </div>
  <div>
    <h3>Обучал в&nbsp;Epic&nbsp;Skills</h3>
    <p>С ноября 2016 до ноября 2017 (1 год) составлял программу курсов и учил фронтенду в Epic Skills новичков веба, которым удобнее оффлайн-формат.</p>
  </div>
  <div>
    <h3>Организовывал NodeSchool SPB</h3>
    <p>С июля 2016 до сентября 2018 (2 года и 3 месяца) организовывал ежемесячные оффлайн-встречи для обучения новичков JavaScript и Node.js</p>
  </div>
</div>
