---
title: Андрей Гурылёв
layout: home
eleventyNavigation:
  key: Андрей Гурылёв
  order: 10
---


<div class="home">
  <span class="u-author h-card" style="float: right">
    {% image '/img/avatar.jpg', 'u-photo avatar', 'фото Андрея Гурылева' %}
  </span>
  <h1>Привет, я Андрей Гурылев</h1>
  <h2>Вкратце обо мне</h2>
  <p style="margin-bottom: 3rem">Мне {{ config.age }} лет. Я живу и работаю в вебе. Обычно делаю это из Петербурга. Чем я горжусь? Тем, что я…</p>

  <div class="grid grid--3">
    <div>
      <h3>Веб-разработчик с&nbsp;выдержкой</h3>
      <p>С 2007 года верстаю, стилизую и скриптую сайты. Видал всякого и умею выбирать подходящие инструменты для решения бизнес-задач.</p>
    </div>
    <div>
      <h3>Веду команду к&nbsp;светлому будущему</h3>
      <p>С 2018 я стал скрам-мастером в <a href="https://www.wrike.com/">Wrike</a>. В 2019 переквалифицировался в&nbsp;тимлида. Помогаю своей команде расти в нужном направлении.</p>
    </div>
    <div>
    <h3>Упарываюсь по&nbsp;эффективности</h3>
      <p>С 2015 ставлю себе цели на месяц, квартал и год. Стараюсь формулировать долгосрочные по OKR, а краткосрочные по SMART.</p>
    </div>
    <div>
    <h3>Обучал</h3>
      <p>С 2016 до 2017 учил вёрстке и js, а также составлял программу курсов в Epic Skills. С 2016 до 2018 организовывал ежемесячные встречи NodeSchool SPb по изучению node.js.</p>
    </div>
    <div>
    <h3>Организую PiterJS</h3>
      <p>С 2017 помогаю создавать ежемесячные митапы вокруг JavaScript. В&nbsp;2019 мы&nbsp;сделали конференцию. Мы&nbsp;распространяем культуру митапов.</p>
    </div>
    <div>
    <h3>Люблю отдохнуть</h3>
      <p>Восстанавливаю энергию, играя в&nbsp;приставки, настолки, НРИ, pokemon&nbsp;go, читая комиксы, смотря фильмы, сериалы и аниме. Стараюсь восстанавливаться сколько себя помню.</p>
    </div>
  </div>
</div>
