---
title: Сейчас
layout: home
eleventyNavigation:
  key: Сейчас
  order: 15
scripts: ["/js/music.mjs"]
---

<h2>Идея</h2>

<p>Эта страница — публичное заявление о приоритетах и напоминание себе.<br>
Идею таких страниц <a href="https://sive.rs/nowff">распространил</a> Дерек Сиверс.</p>

<h2>Состояние</h2>

<p>Проживаю в Петербурге и сосредотачиваюсь на следующих вещах:</p>

<ul>
  <li>🏝 Отдыхаю в отпуске до 25 мая</li>
  <li>🚜 Готовлюсь к переезду…</li>
  <li>🧘 Оттачиваю персональную систему планирования, мотивации и самоанализа «Воздух»</li>
  <li>🎮 Играю в Rocket Arena на PlayStation 4</li>
  <li>🎧 <span class="recent-track">Слушаю <a href="https://www.last.fm/user/Kasumi_Candor">музыку</a>…</span></li>
  <li>📺 Смотрю 3 сезон сериала «Американские боги»</li>
  <li>📚 Перечитываю любимый комикс «Сорвиголова» Фрэнка Миллера</li>
  <li>👣 Усиливаю приватность и безопасность домашней аппаратуры путём смены вендоров</li>
  <li>🌎 Дополняю этот сайт, порой по чуть-чуть внедряя идеи индивеба</li>
</ul>

<h2>Пишу код</h2>

<figure>
  <figcaption>👨‍💻 Последние 30 дней писал в этих синтаксисах:</figcaption>
  <embed src="https://wakatime.com/share/@fogrew/01f24554-5ee0-41d9-bc7a-ddffdcae5681.svg"></embed>
</figure>
