---
title: Сейчас
layout: home
eleventyNavigation:
  key: Сейчас
  order: 15
scripts: ["/js/music.mjs"]
---

<h2>Идея</h2>

<p>Эта страница — публичное заявление о приоритетах и напоминание себе.<br>
Идею таких страниц <a href="https://sive.rs/nowff">распространил</a> Дерек Сиверс.</p>

<h2>Состояние</h2>

<p>Проживаю в Петербурге и сосредотачиваюсь на следующих вещах:</p>
{% set lastStatus = collections.status | last %}

<ul>
  <li>Статус: {{ lastStatus.templateContent | striptags(true) | escape | nl2br }} (<a href="/status/">все статусы</a>)</li>
  <li>🧘 Оттачиваю персональную систему планирования, мотивации и самоанализа «Воздух»</li>
  <li>🎮 Играю в Rocket League на PlayStation 4</li>
  <li>🎧 <span class="recent-track">Слушаю <a href="https://www.last.fm/user/Kasumi_Candor">музыку</a>…</span></li>
  <li>📺 Смотрю сериал «Сокол и Зимний Солдат»</li>
  <li>📚 Перечитываю любимый комикс «Сорвиголова» Фрэнка Миллера</li>
  <li>👣 Усиливаю приватность и безопасность домашней аппаратуры путём смены вендоров</li>
  <li>🌎 Дополняю этот сайт, порой по чуть-чуть внедряя идеи индивеба</li>
</ul>

<div class="h-feed grid grid--3">
  <div class="grid__line">
    <h2>Пишу статьи</h2>
    <p>Опубликую их на этом сайте, когда допишу</p>
  </div>
  {% set postslist = collections.allContent | unpublished %}
  {% include "postslist.njk" %}
</div>

<h2>Пишу код</h2>

<figure>
  <figcaption>👨‍💻 Последние 30 дней писал в этих синтаксисах:</figcaption>
  <img alt="Распределение ЯП за последние 30 дней" src="https://wakatime.com/share/@fogrew/3585fbb8-cdaf-403b-b18b-8de1068e5a28.svg" width="800" height="600" loading="lazy" decoding="async">
</figure>
