---
title: Теги
permalink: /tags/
layout: home
---

<ul>
{% for tag in collections.tagList %}
  <li><a rel="tag" href="/tags/{{ tag }}/">{{ tag }}</a> (<a href="/tags/{{ tag }}/feed.xml">rss</a>)</li>
{% endfor %}
</ul>
