---
title: Страницы с тегом “{{ tag }}” - {{ metadata.title }}
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: home
renderData:
  title: Страницы с тегом “{{ tag }}” - {{ metadata.title }}
  feed: /tags/{{ tag }}/feed.xml
permalink: /tags/{{ tag }}/
header: Страницы с тегом “{{ tag }}”
---

<div class="h-feed grid grid--2">
  <div class="grid__line">
    <h1>Страницы с тегом “{{ tag }}”</h1>
    <p><a href="/tags/{{ tag }}/feed.xml">Подписаться на RSS тега “{{ tag }}”</a></p>
  </div>
  {% set postslist = collections[ tag ] | published %}
  {% include "posts-grid.njk" %}
</div>

<p>Смотри <a href="{{ '/tags/' | url }}">все теги</a>.</p>
