---
title: Теги
permalink: /tags/
layout: home
---

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" rel="tag" class="tag">{{ tag }}</a>
{% endfor %}
