<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link href="https://fonts.googleapis.com/css?family=Lora:400..700|Source+Sans+Pro:400..700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <header class="header">
      <div class="container header__wrap">
        <div class="header__nav">
          {#- Read more about `eleventy-navigation` at https://github.com/11ty/eleventy-navigation #}
          {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
            listClass: "nav",
            listItemClass: "nav__item",
            activeListItemClass: "nav__item--active",
            anchorClass: "nav__link",
            activeAnchorClass: "nav__link--active",
            activeKey: eleventyNavigation.key
          }) | safe }}
        </div>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <div class="container">
        {{ content | safe }}
      </div>
    </main>

    <footer>
      <div class="container">
        <p>© 2014…, cайт Андрея Гурылева. <a href="https://github.com/fogrew/gurylev.com">Репозиторий сайта</a>. Написать можно на почту: <a href="mailto:andrew@gurylev.com">andrew@gurylev.com</a></p>
      </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
