---
title: Gamer
layout: home
permalink: /geek/gamer/
header: Gamer
eleventyNavigation:
  key: Gamer
  excerpt: 
  order: 40
  parent: Geek
---

<div class="h-feed grid grid--2">
  <div class="grid__line">
    <h1>Make stuff for DMs</h1>
    <p>Stuff for dungeon masters, my expierence of participating in games as player and dungeon master</p>
    <p><a href="/tags/dnd/feed.xml">Subsribe to RSS with D&D stuff</a></p>
  </div>
  {% set postslist = collections['dnd'] | filterPostsByTags(locale) | published %}
  {% include "posts-grid.njk" %}
</div>
